.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p Have Fun

link(rel='stylesheet', href='/css/style.css')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')

block footer