extends layout

//head2
block append head
	script(src="http://cdn.jsdelivr.net/sockjs/1.0.1/sockjs.min.js")
	script(src='scripts/index.js')
  
block content
	div.container
		h1 Watson IoT - Send Command
	div.container
		form.form-horizontal(role="form", id="formCmd")
			.form-group
				label.col-sm-3 Device Type:
				div.col-sm-4
					input(id="deviceType", type="text", name="deviceType", placeholder="Device type")
			.form-group
				label.col-sm-3 Device ID:
				div.col-sm-4
					input(id="deviceId", type="text", name="deviceId", placeholder="Device id")
			.form-group
				label.col-sm-3 Command:
				div.col-sm-4
					input(id="command", type="text", name="command", placeholder="Command")
			.form-group
				label.col-sm-3 Cmd Arguments:
				div.col-sm-4
					input(id="args", type="text", name="args", placeholder="args")
		div.btn-group
			button.btn.btn-primary.test(id="connect", style="width:100px; border-radius: 10px") Connect
			button.btn.btn-primary(id="submit", style="margin-left:40px; width:100px; border-radius: 10px") Send
	hr(style='margin: 30px 0 10px 0;')
	div.container
		textarea.form-control.noresize(rows="10", id="logoutput" disabled="disabled")
